
@{
    ViewBag.Title = "ShowAssignedRegisters";
}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("New", "New", "RegisterManagement")</li>
        <li>@Html.ActionLink("Show Available Registers", "ShowAvailableRegisters", "RegisterManagement")</li>
        <li>@Html.ActionLink("Show assigned Registers", "ShowAssignedRegisters", "RegisterManagement")</li>

    </ul>


</div>
<h2>Show assigned registers for each organisation</h2>


@{
    int i = 0;
    foreach (models.Organisation o in ViewBag.Organisations)
    {
        <h3>@o.OrganisationName</h3>
        <table style="margin: 10px;">
            <tr>
                <th>Registername</th>
                <th>Device</th>
                <th>PurchaseDate</th>
                <th>ExpiresDate</th>
            </tr>
            @foreach (models.Register r in ViewBag.Registers[i])
            {
                <tr>
                    <td>@r.RegisterName</td>
                    <td>@r.DeviceName</td>
                    <td>@r.PurchaseDate</td>
                    <td>@r.ExpiresDate</td>
                    <td><a href="UnAssignRegister/?regid=@r.Id&orgid=@o.ID">Unassign</a></td>
                </tr>
            }

        </table>
            i++;
    }
}