
@{
    ViewBag.Title = "ShowAssignedRegisters";
}

<h2>Assigned Registers</h2>

@{
    int i = 0;
    foreach (models.Organisation o in ViewBag.Organisations)
    {
        <h3>@o.OrganisationName</h3>
        <table class="table">
            <tr>
                <th>Registername</th>
                <th>Device</th>
                <th>PurchaseDate</th>
                <th>ExpiresDate</th>
            </tr>
            @foreach (models.Register r in ViewBag.Registers[i])
            {
                <tr>
                    <td>@r.RegisterName</td>
                    <td>@r.DeviceName</td>
                    <td>@r.PurchaseDate</td>
                    <td>@r.ExpiresDate</td>
                    <td> @Html.ActionLink("Unassign", "UnAssignRegister", new { regid = r.Id,orgid=o.ID})</td>
                    <td> @Html.ActionLink("View Log", "ViewErrorlog", new { regid = r.Id, orgid = o.ID })       </td>
                    
                </tr>
            }

        </table>
            i++;
    }
}