@model IEnumerable<models.Register>

@{
    ViewBag.Title = "temporary";
}

<h2>temporary</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    <table>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiresDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assigned)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    </table>
}


